AppSettingsConverter/obj/AppSettingsConverter.csproj.nuget.dgspec.json
AppSettingsConverter/obj/AppSettingsConverter.csproj.nuget.g.props
AppSettingsConverter/obj/AppSettingsConverter.csproj.nuget.g.targets
AppSettingsConverter/obj/project.assets.json
AppSettingsConverter/obj/project.nuget.cache
AppSettingsConverter/obj/Debug/netstandard2.1/AppSettingsConverter.AssemblyInfo.cs
AppSettingsConverter/obj/Debug/netstandard2.1/AppSettingsConverter.AssemblyInfoInputs.cache
AppSettingsConverter/obj/Debug/netstandard2.1/AppSettingsConverter.assets.cache
AppSettingsConverter/obj/Debug/netstandard2.1/AppSettingsConverter.csproj.CopyComplete
AppSettingsConverter/obj/Debug/netstandard2.1/AppSettingsConverter.csproj.CoreCompileInputs.cache
AppSettingsConverter/obj/Debug/netstandard2.1/AppSettingsConverter.csproj.FileListAbsolute.txt
AppSettingsConverter/obj/Debug/netstandard2.1/AppSettingsConverter.csprojAssemblyReference.cache
AppSettingsConverter/obj/Debug/netstandard2.1/AppSettingsConverter.dll
AppSettingsConverter/obj/Debug/netstandard2.1/AppSettingsConverter.pdb
AppSettingsConverter/obj/Debug/netstandard2.1/AppSettingsConverter.RazorComponent.input.cache
AppSettingsConverter/obj/Debug/netstandard2.1/AppSettingsConverter.RazorCoreGenerate.cache
AppSettingsConverter/obj/Debug/netstandard2.1/AppSettingsConverter.RazorTargetAssemblyInfo.cache
AppSettingsConverter/obj/Debug/netstandard2.1/AppSettingsConverter.TagHelpers.input.cache
AppSettingsConverter/obj/Debug/netstandard2.1/AppSettingsConverter.TagHelpers.output.cache
AppSettingsConverter/obj/Debug/netstandard2.1/Razor/_Imports.razor.g.cs
AppSettingsConverter/obj/Debug/netstandard2.1/Razor/App.razor.g.cs
AppSettingsConverter/obj/Debug/netstandard2.1/Razor/Pages/AppToLocalSettings.razor.g.cs
AppSettingsConverter/obj/Debug/netstandard2.1/Razor/Pages/Index.razor.g.cs
AppSettingsConverter/obj/Debug/netstandard2.1/Razor/Pages/LocalToAppSettings.razor.g.cs
AppSettingsConverter/obj/Debug/netstandard2.1/Razor/Shared/MainLayout.razor.g.cs
AppSettingsConverter/obj/Debug/netstandard2.1/RazorDeclaration/_Imports.razor.g.cs
AppSettingsConverter/obj/Debug/netstandard2.1/RazorDeclaration/App.razor.g.cs
AppSettingsConverter/obj/Debug/netstandard2.1/RazorDeclaration/AppSettingsConverter.dll
AppSettingsConverter/obj/Debug/netstandard2.1/RazorDeclaration/AppSettingsConverter.pdb
AppSettingsConverter/obj/Debug/netstandard2.1/RazorDeclaration/Pages/AppToLocalSettings - コピー.razor.g.cs
AppSettingsConverter/obj/Debug/netstandard2.1/RazorDeclaration/Pages/AppToLocalSettings.razor.g.cs
AppSettingsConverter/obj/Debug/netstandard2.1/RazorDeclaration/Pages/Index - コピー.razor.g.cs
AppSettingsConverter/obj/Debug/netstandard2.1/RazorDeclaration/Pages/Index.razor.g.cs
AppSettingsConverter/obj/Debug/netstandard2.1/RazorDeclaration/Pages/LocalToAppSettings.razor.g.cs
AppSettingsConverter/obj/Debug/netstandard2.1/RazorDeclaration/Shared/MainLayout.razor.g.cs
AppSettingsConverter/obj/Debug/netstandard2.1/blazor/blazor.boot.json
AppSettingsConverter/obj/Debug/netstandard2.1/blazor/unlinked.output
AppSettingsConverter/obj/Debug/netstandard2.1/compressed/_framework/blazor.boot.json.gz
AppSettingsConverter/obj/Debug/netstandard2.1/compressed/_framework/blazor.boot.json.gz.hash
AppSettingsConverter/obj/Debug/netstandard2.1/compressed/_framework/blazor.webassembly.js.gz
AppSettingsConverter/obj/Debug/netstandard2.1/compressed/_framework/blazor.webassembly.js.gz.hash
AppSettingsConverter/obj/Debug/netstandard2.1/compressed/_framework/_bin/AppSettingsConverter.dll.gz
AppSettingsConverter/obj/Debug/netstandard2.1/compressed/_framework/_bin/AppSettingsConverter.dll.gz.hash
AppSettingsConverter/obj/Debug/netstandard2.1/compressed/_framework/_bin/AppSettingsConverter.pdb.gz
AppSettingsConverter/obj/Debug/netstandard2.1/compressed/_framework/_bin/AppSettingsConverter.pdb.gz.hash
AppSettingsConverter/obj/Debug/netstandard2.1/compressed/_framework/_bin/Microsoft.AspNetCore.Components.dll.gz
AppSettingsConverter/obj/Debug/netstandard2.1/compressed/_framework/_bin/Microsoft.AspNetCore.Components.dll.gz.hash
AppSettingsConverter/obj/Debug/netstandard2.1/compressed/_framework/_bin/Microsoft.AspNetCore.Components.Forms.dll.gz
AppSettingsConverter/obj/Debug/netstandard2.1/compressed/_framework/_bin/Microsoft.AspNetCore.Components.Forms.dll.gz.hash
AppSettingsConverter/obj/Debug/netstandard2.1/compressed/_framework/_bin/Microsoft.AspNetCore.Components.Web.dll.gz
AppSettingsConverter/obj/Debug/netstandard2.1/compressed/_framework/_bin/Microsoft.AspNetCore.Components.Web.dll.gz.hash
AppSettingsConverter/obj/Debug/netstandard2.1/compressed/_framework/_bin/Microsoft.AspNetCore.Components.WebAssembly.dll.gz
AppSettingsConverter/obj/Debug/netstandard2.1/compressed/_framework/_bin/Microsoft.AspNetCore.Components.WebAssembly.dll.gz.hash
AppSettingsConverter/obj/Debug/netstandard2.1/compressed/_framework/_bin/Microsoft.Bcl.AsyncInterfaces.dll.gz
AppSettingsConverter/obj/Debug/netstandard2.1/compressed/_framework/_bin/Microsoft.Bcl.AsyncInterfaces.dll.gz.hash
AppSettingsConverter/obj/Debug/netstandard2.1/compressed/_framework/_bin/Microsoft.Extensions.Configuration.Abstractions.dll.gz
AppSettingsConverter/obj/Debug/netstandard2.1/compressed/_framework/_bin/Microsoft.Extensions.Configuration.Abstractions.dll.gz.hash
AppSettingsConverter/obj/Debug/netstandard2.1/compressed/_framework/_bin/Microsoft.Extensions.Configuration.dll.gz
AppSettingsConverter/obj/Debug/netstandard2.1/compressed/_framework/_bin/Microsoft.Extensions.Configuration.dll.gz.hash
AppSettingsConverter/obj/Debug/netstandard2.1/compressed/_framework/_bin/Microsoft.Extensions.DependencyInjection.Abstractions.dll.gz
AppSettingsConverter/obj/Debug/netstandard2.1/compressed/_framework/_bin/Microsoft.Extensions.DependencyInjection.Abstractions.dll.gz.hash
AppSettingsConverter/obj/Debug/netstandard2.1/compressed/_framework/_bin/Microsoft.Extensions.DependencyInjection.dll.gz
AppSettingsConverter/obj/Debug/netstandard2.1/compressed/_framework/_bin/Microsoft.Extensions.DependencyInjection.dll.gz.hash
AppSettingsConverter/obj/Debug/netstandard2.1/compressed/_framework/_bin/Microsoft.Extensions.Logging.Abstractions.dll.gz
AppSettingsConverter/obj/Debug/netstandard2.1/compressed/_framework/_bin/Microsoft.Extensions.Logging.Abstractions.dll.gz.hash
AppSettingsConverter/obj/Debug/netstandard2.1/compressed/_framework/_bin/Microsoft.Extensions.Primitives.dll.gz
AppSettingsConverter/obj/Debug/netstandard2.1/compressed/_framework/_bin/Microsoft.Extensions.Primitives.dll.gz.hash
AppSettingsConverter/obj/Debug/netstandard2.1/compressed/_framework/_bin/Microsoft.JSInterop.dll.gz
AppSettingsConverter/obj/Debug/netstandard2.1/compressed/_framework/_bin/Microsoft.JSInterop.dll.gz.hash
AppSettingsConverter/obj/Debug/netstandard2.1/compressed/_framework/_bin/Microsoft.JSInterop.WebAssembly.dll.gz
AppSettingsConverter/obj/Debug/netstandard2.1/compressed/_framework/_bin/Microsoft.JSInterop.WebAssembly.dll.gz.hash
AppSettingsConverter/obj/Debug/netstandard2.1/compressed/_framework/_bin/Mono.Security.dll.gz
AppSettingsConverter/obj/Debug/netstandard2.1/compressed/_framework/_bin/Mono.Security.dll.gz.hash
AppSettingsConverter/obj/Debug/netstandard2.1/compressed/_framework/_bin/mscorlib.dll.gz
AppSettingsConverter/obj/Debug/netstandard2.1/compressed/_framework/_bin/mscorlib.dll.gz.hash
AppSettingsConverter/obj/Debug/netstandard2.1/compressed/_framework/_bin/netstandard.dll.gz
AppSettingsConverter/obj/Debug/netstandard2.1/compressed/_framework/_bin/netstandard.dll.gz.hash
AppSettingsConverter/obj/Debug/netstandard2.1/compressed/_framework/_bin/Newtonsoft.Json.dll.gz
AppSettingsConverter/obj/Debug/netstandard2.1/compressed/_framework/_bin/Newtonsoft.Json.dll.gz.hash
AppSettingsConverter/obj/Debug/netstandard2.1/compressed/_framework/_bin/System.Buffers.dll.gz
AppSettingsConverter/obj/Debug/netstandard2.1/compressed/_framework/_bin/System.Buffers.dll.gz.hash
AppSettingsConverter/obj/Debug/netstandard2.1/compressed/_framework/_bin/System.ComponentModel.Annotations.dll.gz
AppSettingsConverter/obj/Debug/netstandard2.1/compressed/_framework/_bin/System.ComponentModel.Annotations.dll.gz.hash
AppSettingsConverter/obj/Debug/netstandard2.1/compressed/_framework/_bin/System.ComponentModel.Composition.dll.gz
AppSettingsConverter/obj/Debug/netstandard2.1/compressed/_framework/_bin/System.ComponentModel.Composition.dll.gz.hash
AppSettingsConverter/obj/Debug/netstandard2.1/compressed/_framework/_bin/System.ComponentModel.DataAnnotations.dll.gz
AppSettingsConverter/obj/Debug/netstandard2.1/compressed/_framework/_bin/System.ComponentModel.DataAnnotations.dll.gz.hash
AppSettingsConverter/obj/Debug/netstandard2.1/compressed/_framework/_bin/System.Core.dll.gz
AppSettingsConverter/obj/Debug/netstandard2.1/compressed/_framework/_bin/System.Core.dll.gz.hash
AppSettingsConverter/obj/Debug/netstandard2.1/compressed/_framework/_bin/System.Data.DataSetExtensions.dll.gz
AppSettingsConverter/obj/Debug/netstandard2.1/compressed/_framework/_bin/System.Data.DataSetExtensions.dll.gz.hash
AppSettingsConverter/obj/Debug/netstandard2.1/compressed/_framework/_bin/System.Data.dll.gz
AppSettingsConverter/obj/Debug/netstandard2.1/compressed/_framework/_bin/System.Data.dll.gz.hash
AppSettingsConverter/obj/Debug/netstandard2.1/compressed/_framework/_bin/System.dll.gz
AppSettingsConverter/obj/Debug/netstandard2.1/compressed/_framework/_bin/System.dll.gz.hash
AppSettingsConverter/obj/Debug/netstandard2.1/compressed/_framework/_bin/System.Drawing.Common.dll.gz
AppSettingsConverter/obj/Debug/netstandard2.1/compressed/_framework/_bin/System.Drawing.Common.dll.gz.hash
AppSettingsConverter/obj/Debug/netstandard2.1/compressed/_framework/_bin/System.IO.Compression.dll.gz
AppSettingsConverter/obj/Debug/netstandard2.1/compressed/_framework/_bin/System.IO.Compression.dll.gz.hash
AppSettingsConverter/obj/Debug/netstandard2.1/compressed/_framework/_bin/System.IO.Compression.FileSystem.dll.gz
AppSettingsConverter/obj/Debug/netstandard2.1/compressed/_framework/_bin/System.IO.Compression.FileSystem.dll.gz.hash
AppSettingsConverter/obj/Debug/netstandard2.1/compressed/_framework/_bin/System.Memory.dll.gz
AppSettingsConverter/obj/Debug/netstandard2.1/compressed/_framework/_bin/System.Memory.dll.gz.hash
AppSettingsConverter/obj/Debug/netstandard2.1/compressed/_framework/_bin/System.Net.Http.dll.gz
AppSettingsConverter/obj/Debug/netstandard2.1/compressed/_framework/_bin/System.Net.Http.dll.gz.hash
AppSettingsConverter/obj/Debug/netstandard2.1/compressed/_framework/_bin/System.Numerics.dll.gz
AppSettingsConverter/obj/Debug/netstandard2.1/compressed/_framework/_bin/System.Numerics.dll.gz.hash
AppSettingsConverter/obj/Debug/netstandard2.1/compressed/_framework/_bin/System.Numerics.Vectors.dll.gz
AppSettingsConverter/obj/Debug/netstandard2.1/compressed/_framework/_bin/System.Numerics.Vectors.dll.gz.hash
AppSettingsConverter/obj/Debug/netstandard2.1/compressed/_framework/_bin/System.Runtime.CompilerServices.Unsafe.dll.gz
AppSettingsConverter/obj/Debug/netstandard2.1/compressed/_framework/_bin/System.Runtime.CompilerServices.Unsafe.dll.gz.hash
AppSettingsConverter/obj/Debug/netstandard2.1/compressed/_framework/_bin/System.Runtime.Serialization.dll.gz
AppSettingsConverter/obj/Debug/netstandard2.1/compressed/_framework/_bin/System.Runtime.Serialization.dll.gz.hash
AppSettingsConverter/obj/Debug/netstandard2.1/compressed/_framework/_bin/System.ServiceModel.Internals.dll.gz
AppSettingsConverter/obj/Debug/netstandard2.1/compressed/_framework/_bin/System.ServiceModel.Internals.dll.gz.hash
AppSettingsConverter/obj/Debug/netstandard2.1/compressed/_framework/_bin/System.Text.Encodings.Web.dll.gz
AppSettingsConverter/obj/Debug/netstandard2.1/compressed/_framework/_bin/System.Text.Encodings.Web.dll.gz.hash
AppSettingsConverter/obj/Debug/netstandard2.1/compressed/_framework/_bin/System.Text.Json.dll.gz
AppSettingsConverter/obj/Debug/netstandard2.1/compressed/_framework/_bin/System.Text.Json.dll.gz.hash
AppSettingsConverter/obj/Debug/netstandard2.1/compressed/_framework/_bin/System.Threading.Tasks.Extensions.dll.gz
AppSettingsConverter/obj/Debug/netstandard2.1/compressed/_framework/_bin/System.Threading.Tasks.Extensions.dll.gz.hash
AppSettingsConverter/obj/Debug/netstandard2.1/compressed/_framework/_bin/System.Transactions.dll.gz
AppSettingsConverter/obj/Debug/netstandard2.1/compressed/_framework/_bin/System.Transactions.dll.gz.hash
AppSettingsConverter/obj/Debug/netstandard2.1/compressed/_framework/_bin/System.Xml.dll.gz
AppSettingsConverter/obj/Debug/netstandard2.1/compressed/_framework/_bin/System.Xml.dll.gz.hash
AppSettingsConverter/obj/Debug/netstandard2.1/compressed/_framework/_bin/System.Xml.Linq.dll.gz
AppSettingsConverter/obj/Debug/netstandard2.1/compressed/_framework/_bin/System.Xml.Linq.dll.gz.hash
AppSettingsConverter/obj/Debug/netstandard2.1/compressed/_framework/_bin/WebAssembly.Bindings.dll.gz
AppSettingsConverter/obj/Debug/netstandard2.1/compressed/_framework/_bin/WebAssembly.Bindings.dll.gz.hash
AppSettingsConverter/obj/Debug/netstandard2.1/compressed/_framework/_bin/WebAssembly.Net.Http.dll.gz
AppSettingsConverter/obj/Debug/netstandard2.1/compressed/_framework/_bin/WebAssembly.Net.Http.dll.gz.hash
AppSettingsConverter/obj/Debug/netstandard2.1/compressed/_framework/_bin/WebAssembly.Net.WebSockets.dll.gz
AppSettingsConverter/obj/Debug/netstandard2.1/compressed/_framework/_bin/WebAssembly.Net.WebSockets.dll.gz.hash
AppSettingsConverter/obj/Debug/netstandard2.1/compressed/_framework/wasm/dotnet.3.2.0-preview2.20159.2.js.gz
AppSettingsConverter/obj/Debug/netstandard2.1/compressed/_framework/wasm/dotnet.3.2.0-preview2.20159.2.js.gz.hash
AppSettingsConverter/obj/Debug/netstandard2.1/compressed/_framework/wasm/dotnet.wasm.gz
AppSettingsConverter/obj/Debug/netstandard2.1/compressed/_framework/wasm/dotnet.wasm.gz.hash
AppSettingsConverter/obj/Debug/netstandard2.1/staticwebassets/AppSettingsConverter.StaticWebAssets.Manifest.cache
AppSettingsConverter/obj/Debug/netstandard2.1/staticwebassets/AppSettingsConverter.StaticWebAssets.xml
AppSettingsConverter/bin/Debug/netstandard2.1/AppSettingsConverter.dll
AppSettingsConverter/bin/Debug/netstandard2.1/AppSettingsConverter.pdb
AppSettingsConverter/bin/Debug/netstandard2.1/AppSettingsConverter.StaticWebAssets.xml
AppSettingsConverter/bin/Debug/netstandard2.1/Microsoft.AspNetCore.Authorization.dll
AppSettingsConverter/bin/Debug/netstandard2.1/Microsoft.AspNetCore.Blazor.HttpClient.dll
AppSettingsConverter/bin/Debug/netstandard2.1/Microsoft.AspNetCore.Components.dll
AppSettingsConverter/bin/Debug/netstandard2.1/Microsoft.AspNetCore.Components.Forms.dll
AppSettingsConverter/bin/Debug/netstandard2.1/Microsoft.AspNetCore.Components.Web.dll
AppSettingsConverter/bin/Debug/netstandard2.1/Microsoft.AspNetCore.Components.WebAssembly.dll
AppSettingsConverter/bin/Debug/netstandard2.1/Microsoft.AspNetCore.Metadata.dll
AppSettingsConverter/bin/Debug/netstandard2.1/Microsoft.Bcl.AsyncInterfaces.dll
AppSettingsConverter/bin/Debug/netstandard2.1/Microsoft.CSharp.dll
AppSettingsConverter/bin/Debug/netstandard2.1/Microsoft.Extensions.Configuration.Abstractions.dll
AppSettingsConverter/bin/Debug/netstandard2.1/Microsoft.Extensions.Configuration.dll
AppSettingsConverter/bin/Debug/netstandard2.1/Microsoft.Extensions.DependencyInjection.Abstractions.dll
AppSettingsConverter/bin/Debug/netstandard2.1/Microsoft.Extensions.DependencyInjection.dll
AppSettingsConverter/bin/Debug/netstandard2.1/Microsoft.Extensions.Logging.Abstractions.dll
AppSettingsConverter/bin/Debug/netstandard2.1/Microsoft.Extensions.Options.dll
AppSettingsConverter/bin/Debug/netstandard2.1/Microsoft.Extensions.Primitives.dll
AppSettingsConverter/bin/Debug/netstandard2.1/Microsoft.JSInterop.dll
AppSettingsConverter/bin/Debug/netstandard2.1/Microsoft.JSInterop.WebAssembly.dll
AppSettingsConverter/bin/Debug/netstandard2.1/Newtonsoft.Json.dll
AppSettingsConverter/bin/Debug/netstandard2.1/Radzen.Blazor.dll
AppSettingsConverter/bin/Debug/netstandard2.1/System.Buffers.dll
AppSettingsConverter/bin/Debug/netstandard2.1/System.ComponentModel.Annotations.dll
AppSettingsConverter/bin/Debug/netstandard2.1/System.Linq.Dynamic.Core.dll
AppSettingsConverter/bin/Debug/netstandard2.1/System.Memory.dll
AppSettingsConverter/bin/Debug/netstandard2.1/System.Numerics.Vectors.dll
AppSettingsConverter/bin/Debug/netstandard2.1/System.Reflection.Emit.dll
AppSettingsConverter/bin/Debug/netstandard2.1/System.Reflection.Emit.ILGeneration.dll
AppSettingsConverter/bin/Debug/netstandard2.1/System.Runtime.CompilerServices.Unsafe.dll
AppSettingsConverter/bin/Debug/netstandard2.1/System.Text.Encodings.Web.dll
AppSettingsConverter/bin/Debug/netstandard2.1/System.Text.Json.dll
AppSettingsConverter/bin/Debug/netstandard2.1/System.Threading.Tasks.Extensions.dll
AppSettingsConverter/bin/Debug/netstandard2.1/Properties/launchSettings.json
AppSettingsConverter/bin/Debug/netstandard2.1/wwwroot/_framework/blazor.boot.json
AppSettingsConverter/bin/Debug/netstandard2.1/wwwroot/_framework/blazor.boot.json.gz
AppSettingsConverter/bin/Debug/netstandard2.1/wwwroot/_framework/blazor.webassembly.js
AppSettingsConverter/bin/Debug/netstandard2.1/wwwroot/_framework/blazor.webassembly.js.gz
AppSettingsConverter/bin/Debug/netstandard2.1/wwwroot/_framework/_bin/AppSettingsConverter.dll
AppSettingsConverter/bin/Debug/netstandard2.1/wwwroot/_framework/_bin/AppSettingsConverter.dll.gz
AppSettingsConverter/bin/Debug/netstandard2.1/wwwroot/_framework/_bin/AppSettingsConverter.pdb
AppSettingsConverter/bin/Debug/netstandard2.1/wwwroot/_framework/_bin/AppSettingsConverter.pdb.gz
AppSettingsConverter/bin/Debug/netstandard2.1/wwwroot/_framework/_bin/Microsoft.AspNetCore.Components.dll
AppSettingsConverter/bin/Debug/netstandard2.1/wwwroot/_framework/_bin/Microsoft.AspNetCore.Components.dll.gz
AppSettingsConverter/bin/Debug/netstandard2.1/wwwroot/_framework/_bin/Microsoft.AspNetCore.Components.Forms.dll
AppSettingsConverter/bin/Debug/netstandard2.1/wwwroot/_framework/_bin/Microsoft.AspNetCore.Components.Forms.dll.gz
AppSettingsConverter/bin/Debug/netstandard2.1/wwwroot/_framework/_bin/Microsoft.AspNetCore.Components.Web.dll
AppSettingsConverter/bin/Debug/netstandard2.1/wwwroot/_framework/_bin/Microsoft.AspNetCore.Components.Web.dll.gz
AppSettingsConverter/bin/Debug/netstandard2.1/wwwroot/_framework/_bin/Microsoft.AspNetCore.Components.WebAssembly.dll
AppSettingsConverter/bin/Debug/netstandard2.1/wwwroot/_framework/_bin/Microsoft.AspNetCore.Components.WebAssembly.dll.gz
AppSettingsConverter/bin/Debug/netstandard2.1/wwwroot/_framework/_bin/Microsoft.Bcl.AsyncInterfaces.dll
AppSettingsConverter/bin/Debug/netstandard2.1/wwwroot/_framework/_bin/Microsoft.Bcl.AsyncInterfaces.dll.gz
AppSettingsConverter/bin/Debug/netstandard2.1/wwwroot/_framework/_bin/Microsoft.Extensions.Configuration.Abstractions.dll
AppSettingsConverter/bin/Debug/netstandard2.1/wwwroot/_framework/_bin/Microsoft.Extensions.Configuration.Abstractions.dll.gz
AppSettingsConverter/bin/Debug/netstandard2.1/wwwroot/_framework/_bin/Microsoft.Extensions.Configuration.dll
AppSettingsConverter/bin/Debug/netstandard2.1/wwwroot/_framework/_bin/Microsoft.Extensions.Configuration.dll.gz
AppSettingsConverter/bin/Debug/netstandard2.1/wwwroot/_framework/_bin/Microsoft.Extensions.DependencyInjection.Abstractions.dll
AppSettingsConverter/bin/Debug/netstandard2.1/wwwroot/_framework/_bin/Microsoft.Extensions.DependencyInjection.Abstractions.dll.gz
AppSettingsConverter/bin/Debug/netstandard2.1/wwwroot/_framework/_bin/Microsoft.Extensions.DependencyInjection.dll
AppSettingsConverter/bin/Debug/netstandard2.1/wwwroot/_framework/_bin/Microsoft.Extensions.DependencyInjection.dll.gz
AppSettingsConverter/bin/Debug/netstandard2.1/wwwroot/_framework/_bin/Microsoft.Extensions.Logging.Abstractions.dll
AppSettingsConverter/bin/Debug/netstandard2.1/wwwroot/_framework/_bin/Microsoft.Extensions.Logging.Abstractions.dll.gz
AppSettingsConverter/bin/Debug/netstandard2.1/wwwroot/_framework/_bin/Microsoft.Extensions.Primitives.dll
AppSettingsConverter/bin/Debug/netstandard2.1/wwwroot/_framework/_bin/Microsoft.Extensions.Primitives.dll.gz
AppSettingsConverter/bin/Debug/netstandard2.1/wwwroot/_framework/_bin/Microsoft.JSInterop.dll
AppSettingsConverter/bin/Debug/netstandard2.1/wwwroot/_framework/_bin/Microsoft.JSInterop.dll.gz
AppSettingsConverter/bin/Debug/netstandard2.1/wwwroot/_framework/_bin/Microsoft.JSInterop.WebAssembly.dll
AppSettingsConverter/bin/Debug/netstandard2.1/wwwroot/_framework/_bin/Microsoft.JSInterop.WebAssembly.dll.gz
AppSettingsConverter/bin/Debug/netstandard2.1/wwwroot/_framework/_bin/Mono.Security.dll
AppSettingsConverter/bin/Debug/netstandard2.1/wwwroot/_framework/_bin/Mono.Security.dll.gz
AppSettingsConverter/bin/Debug/netstandard2.1/wwwroot/_framework/_bin/mscorlib.dll
AppSettingsConverter/bin/Debug/netstandard2.1/wwwroot/_framework/_bin/mscorlib.dll.gz
AppSettingsConverter/bin/Debug/netstandard2.1/wwwroot/_framework/_bin/netstandard.dll
AppSettingsConverter/bin/Debug/netstandard2.1/wwwroot/_framework/_bin/netstandard.dll.gz
AppSettingsConverter/bin/Debug/netstandard2.1/wwwroot/_framework/_bin/Newtonsoft.Json.dll
AppSettingsConverter/bin/Debug/netstandard2.1/wwwroot/_framework/_bin/Newtonsoft.Json.dll.gz
AppSettingsConverter/bin/Debug/netstandard2.1/wwwroot/_framework/_bin/System.Buffers.dll
AppSettingsConverter/bin/Debug/netstandard2.1/wwwroot/_framework/_bin/System.Buffers.dll.gz
AppSettingsConverter/bin/Debug/netstandard2.1/wwwroot/_framework/_bin/System.ComponentModel.Annotations.dll
AppSettingsConverter/bin/Debug/netstandard2.1/wwwroot/_framework/_bin/System.ComponentModel.Annotations.dll.gz
AppSettingsConverter/bin/Debug/netstandard2.1/wwwroot/_framework/_bin/System.ComponentModel.Composition.dll
AppSettingsConverter/bin/Debug/netstandard2.1/wwwroot/_framework/_bin/System.ComponentModel.Composition.dll.gz
AppSettingsConverter/bin/Debug/netstandard2.1/wwwroot/_framework/_bin/System.ComponentModel.DataAnnotations.dll
AppSettingsConverter/bin/Debug/netstandard2.1/wwwroot/_framework/_bin/System.ComponentModel.DataAnnotations.dll.gz
AppSettingsConverter/bin/Debug/netstandard2.1/wwwroot/_framework/_bin/System.Core.dll
AppSettingsConverter/bin/Debug/netstandard2.1/wwwroot/_framework/_bin/System.Core.dll.gz
AppSettingsConverter/bin/Debug/netstandard2.1/wwwroot/_framework/_bin/System.Data.DataSetExtensions.dll
AppSettingsConverter/bin/Debug/netstandard2.1/wwwroot/_framework/_bin/System.Data.DataSetExtensions.dll.gz
AppSettingsConverter/bin/Debug/netstandard2.1/wwwroot/_framework/_bin/System.Data.dll
AppSettingsConverter/bin/Debug/netstandard2.1/wwwroot/_framework/_bin/System.Data.dll.gz
AppSettingsConverter/bin/Debug/netstandard2.1/wwwroot/_framework/_bin/System.dll
AppSettingsConverter/bin/Debug/netstandard2.1/wwwroot/_framework/_bin/System.dll.gz
AppSettingsConverter/bin/Debug/netstandard2.1/wwwroot/_framework/_bin/System.Drawing.Common.dll
AppSettingsConverter/bin/Debug/netstandard2.1/wwwroot/_framework/_bin/System.Drawing.Common.dll.gz
AppSettingsConverter/bin/Debug/netstandard2.1/wwwroot/_framework/_bin/System.IO.Compression.dll
AppSettingsConverter/bin/Debug/netstandard2.1/wwwroot/_framework/_bin/System.IO.Compression.dll.gz
AppSettingsConverter/bin/Debug/netstandard2.1/wwwroot/_framework/_bin/System.IO.Compression.FileSystem.dll
AppSettingsConverter/bin/Debug/netstandard2.1/wwwroot/_framework/_bin/System.IO.Compression.FileSystem.dll.gz
AppSettingsConverter/bin/Debug/netstandard2.1/wwwroot/_framework/_bin/System.Memory.dll
AppSettingsConverter/bin/Debug/netstandard2.1/wwwroot/_framework/_bin/System.Memory.dll.gz
AppSettingsConverter/bin/Debug/netstandard2.1/wwwroot/_framework/_bin/System.Net.Http.dll
AppSettingsConverter/bin/Debug/netstandard2.1/wwwroot/_framework/_bin/System.Net.Http.dll.gz
AppSettingsConverter/bin/Debug/netstandard2.1/wwwroot/_framework/_bin/System.Numerics.dll
AppSettingsConverter/bin/Debug/netstandard2.1/wwwroot/_framework/_bin/System.Numerics.dll.gz
AppSettingsConverter/bin/Debug/netstandard2.1/wwwroot/_framework/_bin/System.Numerics.Vectors.dll
AppSettingsConverter/bin/Debug/netstandard2.1/wwwroot/_framework/_bin/System.Numerics.Vectors.dll.gz
AppSettingsConverter/bin/Debug/netstandard2.1/wwwroot/_framework/_bin/System.Runtime.CompilerServices.Unsafe.dll
AppSettingsConverter/bin/Debug/netstandard2.1/wwwroot/_framework/_bin/System.Runtime.CompilerServices.Unsafe.dll.gz
AppSettingsConverter/bin/Debug/netstandard2.1/wwwroot/_framework/_bin/System.Runtime.Serialization.dll
AppSettingsConverter/bin/Debug/netstandard2.1/wwwroot/_framework/_bin/System.Runtime.Serialization.dll.gz
AppSettingsConverter/bin/Debug/netstandard2.1/wwwroot/_framework/_bin/System.ServiceModel.Internals.dll
AppSettingsConverter/bin/Debug/netstandard2.1/wwwroot/_framework/_bin/System.ServiceModel.Internals.dll.gz
AppSettingsConverter/bin/Debug/netstandard2.1/wwwroot/_framework/_bin/System.Text.Encodings.Web.dll
AppSettingsConverter/bin/Debug/netstandard2.1/wwwroot/_framework/_bin/System.Text.Encodings.Web.dll.gz
AppSettingsConverter/bin/Debug/netstandard2.1/wwwroot/_framework/_bin/System.Text.Json.dll
AppSettingsConverter/bin/Debug/netstandard2.1/wwwroot/_framework/_bin/System.Text.Json.dll.gz
AppSettingsConverter/bin/Debug/netstandard2.1/wwwroot/_framework/_bin/System.Threading.Tasks.Extensions.dll
AppSettingsConverter/bin/Debug/netstandard2.1/wwwroot/_framework/_bin/System.Threading.Tasks.Extensions.dll.gz
AppSettingsConverter/bin/Debug/netstandard2.1/wwwroot/_framework/_bin/System.Transactions.dll
AppSettingsConverter/bin/Debug/netstandard2.1/wwwroot/_framework/_bin/System.Transactions.dll.gz
AppSettingsConverter/bin/Debug/netstandard2.1/wwwroot/_framework/_bin/System.Xml.dll
AppSettingsConverter/bin/Debug/netstandard2.1/wwwroot/_framework/_bin/System.Xml.dll.gz
AppSettingsConverter/bin/Debug/netstandard2.1/wwwroot/_framework/_bin/System.Xml.Linq.dll
AppSettingsConverter/bin/Debug/netstandard2.1/wwwroot/_framework/_bin/System.Xml.Linq.dll.gz
AppSettingsConverter/bin/Debug/netstandard2.1/wwwroot/_framework/_bin/WebAssembly.Bindings.dll
AppSettingsConverter/bin/Debug/netstandard2.1/wwwroot/_framework/_bin/WebAssembly.Bindings.dll.gz
AppSettingsConverter/bin/Debug/netstandard2.1/wwwroot/_framework/_bin/WebAssembly.Net.Http.dll
AppSettingsConverter/bin/Debug/netstandard2.1/wwwroot/_framework/_bin/WebAssembly.Net.Http.dll.gz
AppSettingsConverter/bin/Debug/netstandard2.1/wwwroot/_framework/_bin/WebAssembly.Net.WebSockets.dll
AppSettingsConverter/bin/Debug/netstandard2.1/wwwroot/_framework/_bin/WebAssembly.Net.WebSockets.dll.gz
AppSettingsConverter/bin/Debug/netstandard2.1/wwwroot/_framework/wasm/dotnet.3.2.0-preview2.20159.2.js
AppSettingsConverter/bin/Debug/netstandard2.1/wwwroot/_framework/wasm/dotnet.3.2.0-preview2.20159.2.js.gz
AppSettingsConverter/bin/Debug/netstandard2.1/wwwroot/_framework/wasm/dotnet.wasm
AppSettingsConverter/bin/Debug/netstandard2.1/wwwroot/_framework/wasm/dotnet.wasm.gz
AppSettingsConverter/.vs/AppSettingsConverter/DesignTimeBuild/.dtbcache.v2
AppSettingsConverter/.vs/AppSettingsConverter/config/applicationhost.config
AppSettingsConverter/.vs/AppSettingsConverter/v16/.suo
