@inherits LayoutComponentBase

<div class="main">
    <div class="top-row">
        <NavLink class="nav-link" href="/">
            <strong>Tools</strong> 
        </NavLink>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
